@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
  font-family: "Righteous", sans-serif;
}
.product-img{
  width: 100px;
  align-content: center;
}
.product-card{
  display: flex;
  height: 180px;
  width: 280px;
  padding: 10px;
  background-color: #f5ebfa;
}

.product-details{
  padding: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 13px ;
  
}
.container{
  max-width: fit-content;
}

.product-container{
  background-color: #e7dbef;
  padding-top: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

}